body{
    margin:0;
    padding: 0;
    background-color: black;
    overflow:hidden;
}

.background{
    background-color: rgb(84, 56, 187);
    width:100vw;
    height: 100vh;
    color: white;
    overflow: hidden;
}

.title{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    font-weight: 700;
    font-size: larger;
    
}

.title-des{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.ho{
   width: 100px;
   height: 4px;
   background-color: white;
}

.head{
    position: relative;
    width: 4px;
    height: 50px;
    background-color: white;
    left: 47px;
    top: -8px;
}

.column{
    position: relative;
    width: 4px;
    height: 300px;
    background-color: white;
    right: 48px;
    top: -68px;
}

.leg{
   position: relative;
   width: 100px;
   height: 4px;
   background-color: white;
   right: 50px;
   bottom: 75px;
}

.man{
    position: relative;
    bottom: 340px;
    left: 45px;
    
}

.man_head{
    height: 60px;
  width: 60px;
  background-color: #bbb;
  border-radius: 50%;
  opacity: 0;
}

.man_body{
    position: relative;
    bottom: 10px;
    width: 3px;
    height: 120px;
    background-color: #bbb;
    opacity: 0;
}

.man_right-arm, .man_left-arm, .man_right-leg, .man_left-leg{
    width: 40px;
    height: 3px;
    background-color: #bbb;
    position: relative;
}

.man_right-arm, .man_left-arm{
    bottom: 100px;
}



.man_right-arm{
    transform: rotateZ(50deg);
    right: 14px;
    opacity: 0;
}

.man_left-arm{
    transform: rotateZ(-50deg);
    left: 13px;
    bottom: 115px;
    opacity: 0;
}

.man_right-leg{
    transform: rotateZ(-50deg);
    right: 15px;
    bottom: 33px;
    opacity: 0;
}

.man_left-leg{
    transform: rotateZ(50deg);
    bottom: 45px;
    left: 15px;
    opacity: 0;
}

.input-area{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 35%;
}

.keyword_area{
    margin-right: 5px;
}

.word-area{
    display: flex;
    justify-content: center;
    position: absolute;
    
}

.show-words{
    position: relative;
    font-size: 25px;
    margin-right: 14px;
    bottom:15px;
    opacity: 0;
}

.modal-container{
    display:none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    background-color: rgba(0,0,0,0.3);
}

.modal_lose, .modal_win{
    position: fixed;
    background-color: rgba(255, 255, 255);
    width: 250px;
    height: 200px;
    margin-left: auto;
    z-index: 10;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
}

.modal-msg{
    display: flex;
    justify-content: center;
}

.replay{
    border: none;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    outline: none;
    cursor: pointer;
}

.error-slider{
    position: absolute;
    color:white;
    bottom: 0%;
    width: 100%;
    height: 10%;
    display: none;
    justify-content: center;
    align-items: center;
}

.slider_msg{
    background-color: rgba(0,0,0,0.3);
    width:25%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40vw;
    border-radius: 10px;
    
}

.typed{
    position: absolute;
    right: 20vw;
}

@media screen and (max-width: 800px) {
    .typed {
        top: 60vh;
        right: 10vw;
    }
  }

@keyframes errSlider{
    from{
        transform: translateY(15vh);
    }
    to{
        transform: translateY(0vh);
    }
}

@keyframes revertSlider{
    from{
        transform: translateY(0vh);
    }
    to{
        transform: translateY(15vh);
    }
}
